*, *:before, *:after {-moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
body, html {margin:0; padding:0; font-size:100%; line-height:1.4em; font-family:Helvetica, Arial, sans-serif;}
p {margin:0 0 1em;}
figure {}
figcaption {line-height:1.2em;}
img {max-width:100%;}
h1, h2, h3, h4, h5, h6 {margin:1em 0 0.25em;
                        color:#b18d03;
                        font-family: Times New Roman, Times, serif;
                        font: 100%;
                        }
h2 {border-bottom: 1px solid #b18d03;}
header,
.site-footer {padding:1em; background:#002b5b; color:#fff;}
header {background:url(images/header-small.jpg) center center no-repeat; background-size:cover; overflow: hidden;}
header h1 {}
header p {display: block; background-color: white; color: blue; padding: 10px;
          text-align: inherit;
          position: inherit;
          float: right;
          margin: 2px;
          width: 50px;
          height: 30px;
          overflow: hidden;
          text-decoration: none;
        }
nav {}
  nav ul {margin:0; padding:0; list-style:none;}
  nav a {display:block; padding:0.5em 1em; color:#333; background-color:#eee; text-decoration:none;}
  nav a:hover {background-color:#ddd;}

blockquote {padding:1em;}
  blockquote p {margin:0 0 0.4em; color:#002b5b; font-size:1.8em; line-height:1.2em; font-family:"Times New Roman", Times, serif;}
  blockquote footer {font-style:italic;}
.site-footer {clear:both; text-align: inherit; padding:20px; overflow: hidden;}
  .site-footer img {max-width:200px; float: right;}
    .site-footer p {float: left;}
  header h1 {font-size: 2em; color: #ffffff;}
  .page-title {border-bottom: 3px solid #b18d03;}




@media only screen and (min-width: 600px) {
  header {background-image:url(images/header-medium.jpg);}

  figure {float:right; width:250px;}
  header h1{font-size: 2em; color: #ffffff;}

}


@media only screen and (min-width: 900px) {
  header {background-image:url(images/header-large.jpg);
          height: 400px;}

  figure {float:right; width:300px;}
  aside {float:left; width: 15%;}
  main {float: right; width: 85%;}
  .leadership {float: left; width: 33%; padding:2em;}
  .page-title {border-bottom: 3px solid #b18d03;}
  header h1 {font-size: 5em; color: #ffffff;}
  header p {;}

}


@media only screen and (min-width: 1100px) {

}
